* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background: url("../images/login-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.full-width-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.left-section {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.right-section {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.form-section {
  min-height: 80vh;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 90%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.form-submit-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.form-submit-button:hover {
  background: lightgray;
}
.alert {
  width: 100%;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.alert p {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.alert button {
  float: left;
  background: #fff;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.847);
  border-radius: 5px;
  width: 15px;
  margin: none;
  cursor: pointer;
}
.alert button:hover {
  background: lightgray;
}
.navbar {
  margin-top: 8px;
  float: right;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}
.navbar ul li:last-child {
  border-right: none;
}
.navbar a {
  display: block;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  background: #fff;
  color: rgba(0, 0, 0, 0.847);
}

.title {
  display: inline;
  position: absolute;
  height: 1000;
  font-size: 1em;
  color: #fff;
  text-align: center;
  float: none;
  margin-top: 8px;
  margin-left: 4px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: #fff;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}

.profile-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

.profile-information table {
  color: #fff;
  width: 500px;
  border-color: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}

.profile-information table th,
tr {
  text-align: center;
}

.profile-information table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.weights-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}
.weights-information table {
  color: #fff;
  width: 500px;
  border-color: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}
.weights-information table th,
.weights-information table tr {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.weights-information table tr:last-child {
  border-bottom: none;
}

.weight-form-box {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weight-form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

input[type="date"] {
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
}