.hidden {
    display: None;
}
H1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 150%;
}

H2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 130%;
}

H3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 120%;
}

H4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 110%;
}

H5 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 105%;
}

H6 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 100%;
}

pre {
  font-family: monospace;
  font-size: 90%;
  padding: 10pt;
}

.pre {
  font-family: monospace;
  padding: 10pt;
}

.tt {
  font-family: Courier, Courier New, Typewriter, fixed;
}

.bgcmd {
  background: #D0F0FF;
}

.bgoutput {
  background: #FFF0B0;
}

body {
  background: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

p, td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
  padding: 5pt;
}

a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #0033cc;
}

a:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0033cc;
}

a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #0033cc;
}

a:active {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #0033cc;
}

a:link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #0033cc;
}

a:link strong {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #000099;
}

a.glossar {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
}

a.glossar:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #000000;
}

a.state {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #FFAA00;
}

a.state:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: underline;
  color: #FFAA00;
}

.font-Huge {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 160%;
  color: #000000;
}

.font-huge {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 150%;
  color: #000000;
}

.font-Large {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 140%;
  color: #000000;
}

.font-large {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 130%;
  color: #000000;
}

.font-big {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 120%;
  color: #000000;
}

.font-normal {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
}

.font-small {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 75%;
  color: #000000;
}

.font-tiny {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 70%;
  color: #000000;
}

.font-blue {
  color: #0033cc;
}

.nav-entry {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 70%;
  color: #000000;
  background: #DDEEFF;
  font-weight: bold;
  padding: 0;
}

.nav-entry a {
  display: block;
  padding: 8px 5px;
}

.nav-entry a:hover {
  /* invert colors */
  background: #0033cc;
  color: #DDEEFF;
}

.grey {
  background: #DDDDDD;
}

.blue {
  background: #0033cc;
}

.white {
  background: #FFFFFF;
}

.bold {
  font-weight:bold;
}

.normal {
  font-weight:normal;
}

.message {
  background: #FFFFAA;
  border-width: thin;
  border-style: solid;
  padding: 10pt;
  font-weight:bold;
}

.dbtable {
  border-width: thick;
  border-style: outset;
  border-color: #AAC0EE;
  border-spacing: 2pt;
  background: #AAC0EE;
}

.dbrow {
}

.dbcol {
  background: #DDEEFF;
  padding-top: 2pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  font-size: 80%;
}

.dbcolh {
  background: #D0E8F8;
  padding-top: 2pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  font-size: 80%;
  font-weight: bold;
}

span.h1,
span.h2,
span.h3 {
  display: block;
}

span.h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0033cc;
  font-size: 125%;
  padding: 2px 0px 2px 0px;
}

span.h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 100%;
  padding: 2px 0px 2px 0px;
}

span.h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 75%;
  padding: 2px 0px 2px 0px;
}

div.content {
  border: 1px solid #CCCCCC;
  background: #F0F0F0;
  display:block;
  font-size:80%;
  padding: 4px 4px 6px 6px;
  overflow : auto;
}

table.standard {
  font-size: 100%;
  border: 1px solid #666666;
  background-color: #FAFAFA;
}

table.standard td {
  padding: 4px 6px 4px 6px;
}

table.standard td#bold, table.standard td.bold {
  font-weight: bold;
}

div.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid #666666;
  background-color: #FF2000;
  min-width: 450px;
  color: #FFFFFF;
  padding: 5px 5px 5px 5px;
}

div.error span {
  padding: 5px 5px 5px 5px;
}

div.dialog {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid #666666;
  background-color: #FFFFFF;
  width: 450px;
  color: #000000;
  padding: 5px 5px 5px 5px;
}

div.dialog span {
  padding: 5px 5px 5px 5px;
}

div.dialog a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #FFAA00;
}

div.dialog a:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

div.dialog span#h1, div.dialog span.h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 100%;
  padding: 2px 0px 2px 0px;
}

div.dialog span#h2, div.dialog span.h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 100%;
  padding: 2px 0px 2px 0px;
}

.data {
  background: #FFFFFF;
  border: 1px solid #000000;
  font-size: 75%;
}

.data thead {
  background: #333333;
  color: #FFFFFF;
  text-align: center;
}

.data thead td {
  background: #333333;
  color: #FFFFFF !important;
  font-weight: bold;
}

.data tr {
  background: #FFFFFF;
}

.data tr td {
  color: #000000;
}

table.messages {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 90%;
  border: 1px solid #666666;
  background-color: #FDFDE0;
  min-width: 600px;
}

table.messages td {
  padding: 4px 6px 4px 6px;
}

table.messages td#bold, table.messages td.bold {
  font-weight: bold;
}

table.messages td#bold, table.messages td.bold {
  font-weight: bold;
}

a.status, span.status {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: underline;
  color: #FFAA00;
}

span.status {
  cursor: pointer;
  width: auto;
}

table.status {
  background: #FFFFFF;
  border: 1px solid #000000;
  font-size: 75%;
}

table.status thead {
  background: #333333;
  color: #FFFFFF;
  text-align: center;
}

table.status thead td {
  background: #333333;
  color: #FFFFFF !important;
  font-weight: bold;
}

table.status tr {
  background: #FFFFFF;
}

table.status tr td {
  color: #000000;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

#even, .even {
  background: #FFFFFF;
}

#odd, .odd {
  background: #FBFBFC;
}

form p, p.copyright, p.lastModified, .stand, .abstand0 {
  margin: 0;
  padding: 0;
}

div#percent {
  display: none;
}

div#percent h3 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 3px;
}

div#percent p {
  font-size: 11px;
}

div#percent p input {
  width: 3em;
  text-align: right;
}

table.export_table {
  margin-left: 2em;
  min-width: 750px;
}
div.help_text {
  display: none;
  text-align: left;
}
.note img {
  height: 16px;
}
.note img[onclick] {
  cursor: pointer;
}
#cpt_comment {
  display: none;
}
